<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <title>{% block title %} Welcome! {% endblock %}</title>

    {% block stylesheets %} {% endblock %} {% block importmap %}

    {{
      importmap("app")
    }}

    {% endblock %}

    <!-- JavaScript -->
    {% block javascripts %}
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
    {% endblock %}
  </head>

  <body>
    <div class="container-wrap">
      {% block header %} {% include "partials/_header.html.twig" %} {% endblock
      %} {% block body %} {% endblock %}
    </div>
  </body>
</html>
