{% extends 'base.html.twig' %}

{% block title %} Forum - LVDR {% endblock %}

{% block body %}

  <div class="flex items-center justify-center">

    <div class="w-3/4 flex flex-col">

        {% for category in forumCategory %}

          <div class="w-full bg-[#3c8dbc] mx-auto rounded text-start pl-2 mt-20">
            <p class="p-4 text-xl font-extrabold text-[white]"> {{ category.name | upper }} </p>
          </div>

          {% for %}

        {% endfor %}

    </div>

  </div>


{% endblock %}